/* Global settings */
body {font-size: .85em;}
div.body h1 { font-size: 32px; font-weight: normal; border-bottom: none;}
div.body h2 { font-size: 22px; border-bottom: 1px dashed rgb(51, 161, 6);}
div.body h3 { font-size: 19px; font-weight: bold; border-bottom: none;}
div.document {margin: 0pt auto; width: 800px; text-align: left;}
div.related {margin: 0pt auto; width: 800px; text-align: left;}
div.footer {margin: 0pt auto; width: 800px;}
header {margin: 0pt auto; width: 800px; }
header img {float: left; }
a:visited {text-decoration: none; color: rgb(77, 135, 206); }
a:hover {text-decoration: none; color: rgb(42, 101, 173);}


/* Copied from perfsonar site */
#channelNav { width: 200px;
    float: left;
    font-size: 100%;
    color: rgb(108, 83, 74);
    text-align: left;
    list-style: none;
}
#channelNav > ul{padding:0;border-right:5px solid rgb(51,161,6); margin: 0px inherit 0px inherit;}
#channelNav > ul:last-child{border-bottom:1px solid rgb(51,161,6);}
#channelNav ul ul {padding:1em 0; list-style: none;}
  
#channelNav > ul > li > a { border-top: 1px solid rgb(51, 161, 6);
    border-bottom: 1px solid rgb(51, 161, 6);
    font-family: helvetica,verdana,arial,tahoma,sans-serif;
    font-size: 140%;
    font-weight: normal;
    text-align: left;
    /*color: rgb(51, 161, 6);*/
    padding:.5em 1em;
    display:block;
    }
#channelNav > ul > li.ancestor > a, #channelNav > ul > li.selected > a {background-color:rgb(51,161,6);color:#fff;}
#channelNav > ul > li li a { padding: .2em 0;
    margin-left:1.4em;
    display: block;
    font-weight:normal;
    }
	
#channelNav a:hover {text-decoration: none; color: rgb(42, 101, 173);}
#channelNav > ul > li > ul > li.selected > a, .ancestor .ancestor > a {
    color: #000;
    background: url('/static/images/perfsonar/menu-marker.png?78a052500a4a') no-repeat scroll right center transparent;
}
#channelNav ul ul ul li.selected > a {
    color: #4D87CE;
    background: none no-repeat scroll right center transparent;}
#channelNav ul ul ul li.selected a {color:#000;}
#channelNav ul ul ul {padding:0;}
#channelNav ul ul ul li {padding-left:1.25em;}

.acctSearchContainer {
    float: right;
    position: relative;
    z-index: 9999;
}

.searchBox {
    background: #33a106;
    display: block;
    float: left;
    height: 35px;
    width: 232px;
    overflow: hidden;
}

.searchInput {
    border: 1px solid #b7b7b7;
    color: #000;
    float: left;
    height: 18px;
    line-height: 18px;  /* This is here and not in type.css because this line height is used for alignment in box model, not for leading */
    margin: 7px 10px 7px 10px;
    padding: 0 7px;
    width: 156px;   /* 170px */
}

.searchBtn {
    background: url('/static/css/images/sprites.png') no-repeat -148px 0;
    float: left;
    height: 20px;
    margin: 7px 30px 0 0;
    width: 20px;
}
#cse-search-box .searchBtn {color:transparent;}
/*-------------------------*\
        FOOTER
\*-------------------------*/


footer {
    padding-bottom: 40px;
}

.footerContents {
    margin: 0 auto;
    max-width: 800px;
    
}

/*---------------------------------- Fat Footer Navigation --*/

.fatFooterNav {
    border-style: dashed none none;
    border-color: rgb(51, 161, 6);
    border-width: 1px;
    clear: both;
    overflow: hidden;
    padding: 20px 0 15px;
    margin-top:20px;
}
.fatFooterNav ul{float:right;}
.fatFooterNav li {float:left;display:block;}
.fatFooterNav li#footer-partner-text {padding:35px;color:rgb(51,161,6);}
.fatFooterNav li {margin-right:10px;}

.fatFooterNav h2 a,  .fatFooterNav li.top-level a.top-level-link{
    color: #2bd5db;
    display: block;
    padding-bottom: 2px;
    text-transform: uppercase;
}

.fatFooterNav a, .fatFooterNav ul.menu depth-1 a {
    color: #dedede;
}

.fatFooterNav li {
    padding: 2px 0;
}

.footerCol, .fatFooterNav li.top-level {
    float: left;
    padding-right: 2%;
}

.rsCol, .fatFooterNav li.top-level{
    width: 14%;
}

.fatFooterNav .depth-2 {display:none;}

.cgCol,
.psCol {
    width: 19%;
}

.viCol {
    width: 15%;
}

.newsCol {
    width: 9%;
}

.aboutCol {
    padding-right: 0;
    width: 12%;
}

/*---------------------------------- Min Navigation --*/

.minFooterNav {
    color: #fff;
    padding: 20px 0;
}

.minFooterNav ul {
    padding-left: 1.5em;
    overflow: hidden;
    display: inline;
}

.minFooterNav li {
    border-left: 1px solid #7c7c7c;
    display: inline;
}

.sitemapLink { display: none; }

.minFooterNav li.copyright {
    border-left: none;
    padding-right: 20px;
}

.minFooterNav a {
    color: #7c7c7c;
    padding: 0 20px;
}

.minFooterNav li a:hover {
    color: #fff;
}

#minFooterNav { border-style: dashed none none;
border-color: rgb(51, 161, 6);
border-width: 1px;
width: 100%;
padding-top: 10px;
padding-bottom: 5px;
background-color: rgb(255, 255, 255);
color: rgb(51, 161, 6);
clear: left;
text-align:right;
}